@font-face {
  font-family: 'Mana';
  src: url('fonts/mana.eot?v=1.2.0');
  src: url('fonts/mana.eot?#iefix&v=1.2.0') format('embedded-opentype'), url('fonts/mana.woff?v=1.2.0') format('woff'), url('fonts/mana.ttf?v=1.2.0') format('truetype'), url('fonts/mana.svg?v=1.2.0#mana') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MPlantin';
  src: url('fonts/mplantin.eot?v=1.2.0');
  src: url('fonts/mplantin.eot?#iefix&v=1.2.0') format('embedded-opentype'), url('fonts/mplantin.woff?v=1.2.0') format('woff'), url('fonts/mplantin.ttf?v=1.2.0') format('truetype'), url('fonts/mplantin.svg?v=1.2.0#mplantin') format('svg');
  font-weight: normal;
  font-style: normal;
}